<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae (CV) José A. Díaz G. C.i 30.626.814</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <section class="foto">
        <div>
          <img src="images/Alex.jpg" alt="">
          <h1>José Díaz</h1>
        </div>
        <p class="parrafo">Soy José Diaz 
          fui estudiante de la Universidad Nacional Experimental de los llanos centrales Romulo Gallegos
          "UNERG", especificamente del area de Ingenieria en Informatica, a continuacion estan presentes
          mis datos personales, academicos, entre otros.  </p>
      </section>
      

      <div class="container">

      <section class="resumen">
            <ul>
              <h3>Informacion Personal</h5>
              <li> <b>Nombres:</b> José Alexander </li>
              <li> <b>Apellidos:</b> Díaz García </li>
              <li> <b>C.I:</b> 30.626.814 </li>
              <li> <b>Especialidad:</b> Programador de Sistemas</li>
              <li> <b>Fecha de Nacimiento:</b> 15/03/2004</li>
              <li> <b>Lugar de Nacimiento:</b> Maracay EDO.Aragua</li>
              <li> <b>Direccion:</b> URB. Las Riberas AV. Principal casa #235 Zamora-EDO.Aragua</li>
              <li> <b>Estado civil:</b> Soltero</li>
              <li> <b>Nacionalidad:</b> Venezolano </li>
            </ul>
      </section>    
      
        <section class="educacion">
          <ul>
            <h3>Estudios Aplicados</h3>
            <h4>Nivel: Primaria</h4>
            <li>Fecha: 30/06/2016 </li>
            <li>Instituto: E.B.N "Aristides Rojas"  </li>
            <br>
            <h4>Nivel:  Secundaria  </h4>
            <li>Fecha: 31/07/2021  </li>        
            <li>U.E.N "Alberto Smith" Graduado como Bachiller en ciencias </li>                                                       
            <br>
            <h4>Nivel: Universitario</h4>
            <li>Fecha:  12/12/2025  </li>
            <li>Universidad Nacional Experimental Romulo Gallegos Graduado como Ingenierio en Sistemas  </li> 
          </ul>
        </section>
        

      <section class="cursos">
        <ul>
          <h3>Cursos completados: Gestion de Sistemas Informaticos Avanzados</h3>
          <li>Programacion (01/08/2022)</li>
          <li>Mantenimiento del PC (15/07/2022)</li>
          <li>Redes (31/08/2021)</li>
        </ul>
      </section>

      
      <section class="experiencia">
        <ul>
          <h3>Experiencia Laboral</h3>
          <li>Mantenimiento de aparatos Electronicos</li>
          <li>Programador de Sistemas</li>
          <li>Creador de Paginas Web, entre otros</li>
        </ul>
      </section>
      <div class="agruparDestresasHabilidades">
        <section class="destrezas">
          <ul>
            <h3>Destrezas</h3>
            <li>Responsable</li>
            <li>Proactivo</li>
            <li>Bilingue, Español e Ingles muy fluido</li>
            <li>Trabajo bajo presion, y buen trabajo en equipo</li>
          </ul>
        </section>

        
        <section class="habilidades">
          <ul> 
            <h3>Hablidades</h3>
            <li>Destreza en la cocina</li>
            <li>Dominio de las Matematicas, Algoritmos y Programacion</li>
            <li>Habilidad con los autos </li>
            <li>Musico</li>
          </ul> 
        </section>
      </div>
      
      <section class="contacto">
        <ul>
          <h3>Contacto y redes sociales</h3>  
          <li>Whastapp: 0414-0350846</li>
          <li>Email: Alexxandiazg15@gmail.com</li>
          <div>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
        </div>
        </ul>
      </section>
    </div>
  </main>
  </body>
</html>
